<%= form_with(model: fight, local: true) do |form| %>
  <% if fight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fight.errors.count, "error") %> prohibited this fight from being saved:</h2>

      <ul>
      <% fight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :blue_corner %>
    <%= form.text_field :blue_corner, id: :fight_blue_corner %>
  </div>

  <div class="field">
    <%= form.label :red_corner %>
    <%= form.text_field :red_corner, id: :fight_red_corner %>
  </div>

  <div class="field">
    <%= form.label :blue_line %>
    <%= form.number_field :blue_line, id: :fight_blue_line %>
  </div>

  <div class="field">
    <%= form.label :red_line %>
    <%= form.number_field :red_line, id: :fight_red_line %>
  </div>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.text_field :event_id, id: :fight_event_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
