<p id="notice"><%= notice %></p>

<h1>Fights</h1>

<table>
  <thead>
    <tr>
      <th>Blue corner</th>
      <th>Red corner</th>
      <th>Blue line</th>
      <th>Red line</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td><%= fight.blue_corner %></td>
        <td><%= fight.red_corner %></td>
        <td><%= fight.blue_line %></td>
        <td><%= fight.red_line %></td>
        <td><%= fight.event %></td>
        <td><%= link_to 'Show', fight %></td>
        <td><%= link_to 'Edit', edit_fight_path(fight) %></td>
        <td><%= link_to 'Destroy', fight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fight', new_fight_path %>
